.btn-taolophoc {
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.classTableContainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 8px;
    overflow: scroll;
    height: 75vh;
}