.groupContainer {
    height: 100vh;
    .sessionCard {
        height: 75vh;
        overflow: scroll;
        padding: 15px;
    }
    
}
.btn-class{
    margin-top: 10px;
    margin-bottom: 10px;
}