.teacherCardContainer{
    display: flex;
    border: 1px gray solid;
    padding: 15px;
    cursor: pointer;
    &:hover{
        opacity: .7;
    }
    .text-teacherCard{
        margin-left: 20px;
        font-size: 1rem;
        font-weight: 600;
    }
    background-color: white;
    margin-top: 5px;
}