.subjectTableContainer {

    .subjectCard {
        box-sizing: border-box;
        padding: 10px;
        height: 75vh;
        overflow: scroll;

    }
    .btn-container{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}